/* Main
   ========================================================================== */
body {
  background-color: #fff;
}

/* Layouts
   ========================================================================== */
.dashed:before, .dashed:after {
  background-color: #222;
}

.dashed--hover,
a.dashed {
  cursor: default;
}

.dashed--hover:not(.dashed--vertical):hover:after,
a.dashed:not(.dashed--vertical):hover:after {
  background-color: rgba(34, 34, 34, 0.1);
}

.board__copy--links a {
  color: #222;
}

.board__copy--links a:hover {
  color: rgba(34, 34, 34, 0.65);
}

.poster--cover:after {
  background-color: #dce6f2;
}

.reveal:before {
  background-color: #dce6f2;
}

.reveal--darken {
  color: #fff;
}

.reveal--darken:before {
  background-color: #222;
}

.reveal--darken .sub-head,
.reveal--darken a.sub-head {
  color: inherit !important;
}

.reveal--darken .dashed:before,
.reveal--darken .dashed:after {
  background-color: #fff;
}

.reveal--darken .dashed.dashed--hover:not(.dashed--vertical):hover:after,
.reveal--darken a.dashed:not(.dashed--vertical):hover:after {
  background-color: rgba(255, 255, 255, 0.3);
}

.reveal--primary:before {
  background-color: #587291;
}

//*.reveal--secondary:before {
  background-color: #1ccad8;
}*/

.clipcard:last-child .clipcard__body:after {
  border-color: transparent;
}

.clipcard__link:after {
  background-color: #222;
}

.clipcard__subtitle span {
  color: inherit;
}

/* Page
   ========================================================================== */
.single-content__footer a:not(:hover) {
  color: inherit;
}

.single-content__tags {
  border-bottom: solid 1px #dce6f2;
}

.single-content__tags a {
  background-color: #dce6f2;
}

/* Masonry
   ========================================================================== */
.indexed-list__wrap {
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 24px 0px rgba(34, 34, 34, 0.25);
          box-shadow: 0px 3px 24px 0px rgba(34, 34, 34, 0.25);
}

.indexed-list__wrap__copy {
  background-color: #fff;
}

.indexed-list__wrap .sub-head-2 * {
  color: inherit;
}

.indexed-list__wrap__title a:not(:hover) {
  color: inherit;
}

.indexed-list__wrap__desc {
  color: #8d929c;
}

.indexed-list__wrap__link a:not(:hover) {
  color: inherit;
}

.indexed-list__box {
  background-color: #dce6f2;
  -webkit-box-shadow: 0px 3px 24px 0px rgba(34, 34, 34, 0.25);
          box-shadow: 0px 3px 24px 0px rgba(34, 34, 34, 0.25);
}

.indexed-list__box__cell {
  color: #fff;
}

.indexed-list__box__badge {
  color: #222;
  background-color: #dce6f2;
}

.indexed-list__box .sub-head-2 {
  color: inherit;
}

.indexed-list__box .sub-head-2 * {
  color: inherit;
}

.indexed-list__box__title a:not(:hover) {
  color: inherit;
}

/* Related
   ========================================================================== */
.related__box {
  background-color: #dce6f2;
  -webkit-box-shadow: 0px 3px 24px 0px rgba(34, 34, 34, 0.25);
          box-shadow: 0px 3px 24px 0px rgba(34, 34, 34, 0.25);
}

.related__box__table:before {
  background-color: #222;
}

.related__box__cell {
  color: #fff;
}

/* CTA
   ========================================================================== */
.cta:before {
  background-color: #dce6f2;
}

.cta--darken {
  color: #fff;
}

.cta--darken:before {
  background-color: #222;
}

.cta--darken .dashed:before,
.cta--darken .dashed:after {
  background-color: #fff;
}

.cta--darken .dashed.dashed--hover:not(.dashed--vertical):hover:after,
.cta--darken a.dashed:not(.dashed--vertical):hover:after {
  background-color: rgba(255, 255, 255, 0.3);
}

.cta--primary:before {
  background-color: #587291;
}

.cta--secondary:before {
  background-color: #1ccad8;
}

/* Carousel
   ========================================================================== */
.carousel__dots {
  color: #222;
}

.carousel__dots--light {
  color: #fff;
}

/* Paper
   ========================================================================== */
.paper--stars:after {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #fff), to(transparent));
  background: linear-gradient(to top, #fff 10%, transparent 100%);
}

/* Mediabox
   ========================================================================== */
.mediabox-wrap {
  background-color: rgba(34, 34, 34, 0.8);
}

/* Tabs
   ========================================================================== */
.tabs__nav, .tabs__nav:hover, .tabs__nav:focus {
  color: inherit;
}

.tabs__nav:after {
  border-bottom: solid 3px #587291;
}

.reveal--primary .tabs__nav:after {
  border-bottom-color: inherit;
}

/* Header
   ========================================================================== */
.has-header-background .site-header__wrap {
  background-color: rgba(255, 255, 255, 0.98);
}

.headroom--not-top:not(.headroom--unpinned) .site-header__wrap {
  background-color: rgba(0, 0, 0, 0.98);
  -webkit-box-shadow: 0 3px 16px rgba(34, 34, 34, 0.24);
          box-shadow: 0 3px 16px rgba(34, 34, 34, 0.24);
}

.site-header__mobile button {
  color: #abb2bf;
  background-color: transparent;
}

.site-header__nav ul.menu > li.menu-item-has-children:after {
  border: 2px solid #0b24fa;
}

.site-header__nav ul.menu > li > a {
  color: inherit;
}

.site-header__nav ul.menu > li:not(.menu-item-has-children) > a:after {
  background-color: #222;
}

.site-header__nav ul.menu ul {
  background-color: #fff;
  -webkit-box-shadow: 0 6px 22px rgba(34, 34, 34, 0.3);
          box-shadow: 0 6px 22px rgba(34, 34, 34, 0.3);
}

.site-header__nav ul.menu ul a:before {
  border: 2px solid #000;
}

/* Side navigation
   ========================================================================== */
.site-sidenav__overlay {
  background-color: rgba(34, 34, 34, 0.4);
}

.site-sidenav__elements {
  background-color: #fff;
  -webkit-box-shadow: 8px 0 24px rgba(34, 34, 34, 0.24);
          box-shadow: 8px 0 24px rgba(34, 34, 34, 0.24);
}

.site-sidenav__branding {
  border-bottom: solid 1px #dce6f2;
}

.site-sidenav__nav a, .site-sidenav__nav a:hover {
  color: inherit;
}

.site-sidenav__nav ul.sub-menu a {
  color: #8d929c;
}

.site-sidenav__cat {
  border-top: solid 1px #dce6f2;
}

/* Footer
   ========================================================================== */
.site-footer .widget-area {
  background-color: #0b24fa ;
}

.site-footer .widget-area a:not(:hover) {
  color: inherit;
}

.site-info {
  background-color: #fff;
}

/* Typography
   ========================================================================== */
body,
button,
input,
select,
textarea {
  color: #222;
}

a {
  color: #f71735;
}

a:hover,
a:focus {
  color: #1ccad8;
}

.btn a,
.sub-head a {
  color: inherit;
}

.sub-head,
a.sub-head {
  color: #222;
}

.text-body-3 {
  color: #8d929c;
}

.sub-head-2 {
  color: #8d929c;
}

.sub-head-2 a:not(:hover) {
  color: inherit;
}

blockquote {
  color: #222;
}

blockquote p {
  border-left: solid 0.25em #587291;
}

pre {
  color: #222;
  background-color: #dce6f2;
}

code,
kbd,
tt,
var {
  color: #abb2bf;
  background-color: #434851;
}

mark {
  color: #fff;
  background: #587291;
}

ins {
  color: #fff;
  background: #1ccad8;
}

/* Forms
   ========================================================================== */
label {
  color: #222;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #8d929c;
  background-color: #e7e8ea;
}

.reveal input[type="email"] {
  background-color: #e7eef6;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
  color: #222;
}

select {
  color: #222;
  background-color: #d1deee;
}

div.mce_inline_error {
  color: inherit !important;
  background-color: transparent !important;
}

/* Buttons
   ========================================================================== */
.btn {
  -webkit-box-shadow: 0 11px 22px rgba(34, 34, 34, 0.2);
          box-shadow: 0 11px 22px rgba(34, 34, 34, 0.2);
}

.btn, .btn:hover, .btn:focus, .btn:active {
  color: #222;
  background-color: transparent;
}

.btn:hover {
  -webkit-box-shadow: 0 6px 14px rgba(34, 34, 34, 0.25);
          box-shadow: 0 6px 14px rgba(34, 34, 34, 0.25);
}

.btn:active {
  -webkit-box-shadow: 0 2px 6px rgba(34, 34, 34, 0.5);
          box-shadow: 0 2px 6px rgba(34, 34, 34, 0.5);
}

.btn--primary, .btn--primary:hover, .btn--primary:focus, .btn--primary:active {
  color: #fff !important;
  background-color: #f71735;
}

.btn--secondary, .btn--secondary:hover, .btn--secondary:focus, .btn--secondary:active {
  color: #fff;
  background-color: #1ccad8;
}

/* Pricing
   ========================================================================== */
.pricing__item {
  border: solid 1px #dce6f2;
}

/* Alert
   ========================================================================== */
.alert {
  background-color: #222;
  color: #fff;
}

.alert--primary {
  background-color: #587291;
}

.alert--secondary {
  background-color: #1ccad8;
}

/* Progress Bsr
   ========================================================================== */
.progress__wrap {
  background-color: #dce6f2;
}

.progress__bar {
  background-color: #222;
}

/* Accoirdion
   ========================================================================== */
.accordion__header label svg {
  fill: #222;
}

/* Icon List
   ========================================================================== */
.fa-li {
  color: #587291;
}

/* Customizer
   ========================================================================== */
::-webkit-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}
:-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}
::-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.5);
}
::placeholder {
  color: rgba(34, 34, 34, 0.5);
}

.color--body {
  color: #222;
}

.background-color--body {
  background-color: #222;
}

.color--body-alt {
  color: #8d929c;
}

.background-color--body-alt {
  background-color: #8d929c;
}

.color--body-lighten {
  color: #fff;
}

.background-color--body-lighten {
  background-color: #fff;
}

.color--primary {
  color: #587291;
}

.background-color--primary {
  background-color: #587291;
}

.color--secondary {
  color: #f71735;
}

.background-color--secondary {
  background-color: #1ccad8;
}

.color--tertiary {
  color: #dce6f2;
}

.background-color--tertiary {
  background-color: #dce6f2;
}

.color--link {
  color: #587291;
}

.background-color--link {
  background-color: #587291;
}

.color--link-hover {
  color: #1ccad8;
}

.background-color--link-hover {
  background-color: #1ccad8;
}

.color--code {
  color: #abb2bf;
}

.background-color--code {
  background-color: #abb2bf;
}

.color--code-background {
  color: #434851;
}

.background-color--code-background {
  background-color: #434851;
}

/* Responsive embed
   ========================================================================== */
.embed-responsive__cover:after {
  background-color: #dce6f2;
}
